<main class="container">

    <h2>Employee Directory</h2>
    <p *ngIf="user">Welcome , {{user.displayName }}</p>
    <p>Loading : {{loading}}</p>
     <p>Error : {{error}}</p>
      <p>total employee : {{filteredEmployees.length }}</p>

      <button type="button" (click)="logout()">Logout</button>

  <app-search (searchChange)="search($event)">

  </app-search>

  <p class="sr-only" 
  aria-live="polite">
    {{ filteredEmployees.length}}
    {{filteredEmployees.length===1? 'employee':'employees'}}
    found . </p>

    <div class="sorting">
 
  <label for="sortBy">Sort Employee By:</label>
 
  <select
    id="sortBy"
    [(ngModel)]="sortBy"
    (change)="sortEmployees()"
  >
    <option value="">Select sorting option</option>
    <option value="name">Name</option>
    <option value="company">Company Name</option>
  </select>
 

  <label for="sortOrder">Sort Order:</label>
  <select
    id="sortOrder"
    [(ngModel)]="sortOrder"
    (change)="sortEmployees()"
  >
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>


  <hr>
 
</div>
 

    @if(loading){
        <app-loader></app-loader>
    }
    @else if(error){
        <p class="error" role="alert" aria-live="assertive">{{ error }}</p>
    }@else if(searchError){
        <p class="search-error" role="alert" aria-live="assertive" >{{searchError}}</p>
    }
    @else {

        <div class="table-container">

        
        <table>
            <caption class="sr-only">
                List of employees with their Name, Email,Company,phone Numberand Website.
            </caption>
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Company Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Website</th>
            </tr>
            </thead>

            <tbody>

                @for(employee of filteredEmployees; track employee.id){
                    <tr >
                        <td>
                            <a [routerLink]="['/employee',employee.id]"
                            [attr.aria-label]=" 'View details for'+ employee.name ">
                            {{employee.name}}</a>
                            </td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.company.name}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.website}}</td>

                    </tr>
                }@empty{
                    <tr>
                        <td colspan="5">No employees found.</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        
    }
    

</main>
